.button {
    border: none;
    cursor: pointer;
    padding: 0;
}

button {
    border: none;
    cursor: pointer;
    padding: 0;
    background: none;
}

.button__submit {
    @extend .button__primary;
    width: 100%;

}

.button__submit__wrapper {
    padding: 2rem 0;
}

.no-link {
    color: white;
    border: none;
    padding: 1rem;
    line-height: 1;
    font-weight: 300;
    font-size: 1rem;
    text-underline-position: unset;
}

.button__primary {
    padding: 1.5rem 3rem;
    border-radius: 10px;
    color: $platinum;
}