$platinum: #e8e8e8;
$cyber-grape: #563f70;
$light: white;

$dark: black;

// ##########################################
// ########## Level Colors ##################
// ##########################################

// 1
$watermelon: #eb6383;

// 2
$american-pink: #550d12;

// 3
$old-car-yellow: #8d8b0a;

// 4
$rain: #145eb3;

// 5
$grass: #07851c;

// 6
$gun-metal: #2e2e2e;


